#header{
    background-color: $color-white-1;
    box-shadow: 0 2px 4px $color-white-2;
    position:fixed;
    width: 100%;
    z-index: 10;

    .navbar-brand{
        // font-size: $fs-3;
        // color: $color-blue-2;
        @include styleText($color-blue-2,$fs-3,$fw-3)
    } 
    .nav-item{
        .nav-link{
            // font-size: $fs-2;
            // color: $color-blue-1;
            @include styleText($color-blue-1,$fs-2,$fw-2);

            padding: 25px;
            &::after{
                content: "";
                width: 100%;
                height: 2px;
                display: block;
                background-color:$color-blue-2;
                transform: scaleX(0);
                transition: 0.2s;
            }
            &:hover{
                &::after{
                    transform: scaleX(1);
                }
            }
        }
        //tương đương .nav-item.active
        &.active{
            .nav-link{
                color: $color-blue-2;
                &::after{
                    transform: scaleX(1);
                }
                 
            }
           
        }
    }
}